---
import { docsConfig } from "../config/docs.config";
import Dropdown from "./Dropdown.astro";
import Icon from "./Icon.astro";

interface Props {
  currentLocale: string;
  currentVersion: string;
}
const { currentLocale, currentVersion } = Astro.props;
const currentLabel = docsConfig.versions.find((v) => v.id === currentVersion)?.label ?? currentVersion;
---
<Dropdown id="version" align="left" label="Change version">
  <Fragment slot="trigger">
    <span>{currentLabel}</span>
    <Icon name="chevron-down" size={12} />
  </Fragment>
  <Fragment slot="menu">
    {docsConfig.versions.map((v) => (
      <a href={`/${currentLocale}/${v.id}/`} class={v.id === currentVersion ? "active" : ""}>
        {v.label}{v.current ? " (current)" : ""}
      </a>
    ))}
  </Fragment>
</Dropdown>
